.App {
  text-align: center;
}

.main-container {
  width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: 140px 700px 230px;
  grid-template-rows: 140px 700px;
  gap: 10px; /* 구역간의 간격 */
}

.temp-box {
  background: yellow;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
}

.box-three {
  display: flex;
}

.box-three > div:first-child {
  width: 100%;
}

.box-four {
  display: flex;
  flex-direction: column;
  border: none;
}

.controlBtn {
  height: 140px;
}

.logo {
  background-color: white;
  background-image: url("../images/skku_s.png");
  background-size: cover;
  height: 140px;
  width: 140px;
}

.gap-box {
  background: #f2f4f7;
  height: 10px;
}

.blank {
  background-color: white;
  height: 140px;
}
