.login {
  font-size: 20px;
}

.signupBtn {
  position: relative;
  top: -11%;
  left: 15%;
}

.loginBtn {
  position: relative;
  top: -11%;
  left: 21%;
}

.loginInfo {
  position: relative;
  width: 200px;
}
