.header {
  font-weight: bold;
}

.mainBoard {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

.mainBoardNumber {
  width: 120px;
}

.mainBoardTitle {
  width: 380px;
}

.mainBoardUserNickname {
  width: 100px;
}

.mainBoardComment {
  width: 100px;
}

#body {
  font-size: 25px;
}
